# Build
lib
coverage
build/*
!build/.gitkeep
webpack-assets.json

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
.env

# Dependency directory
node_modules

# Projects
.idea/

# JIRA plugin
atlassian-ide-plugin.xml

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

.eslintcache
